.pricingPlan {
  border-bottom: 1px solid #e1f1ff;
}
.pricingPlan:last-child {
  border-bottom: none;
}

.pricingImg {
  margin-bottom: 25px;
  max-width: 100%;
}

.pricingHeader {
  color: #888;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 100%;
}

.pricingFeatures {
  margin: 50px 0 25px;
  color: #016ff9;
}

.pricingFeaturesItem {
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 12px;
  line-height: 1.5em;
  padding: 15px 0;
  border-top: 1px solid #e1f1ff;
}

.pricingFeaturesItem:last-child {
  border-bottom: 1px solid #e1f1ff;
}

.pricingPrice {
  color: #016ff9;
  display: block;
  font-size: 32px;
  font-weight: 600;
}

.pricingButton {
  border: 1px solid #9dd1ff;
  border-radius: 10px;
  color: #348efe;
  display: inline-block;
  padding: 15px 35px;
  text-decoration: none;
  margin: 25px 0;
  transition: background-color 200ms ease-in-out;
}

.pricingButton:hover,
.pricingButton:focus {
  background-color: #e1f1ff;
}

.pricingButton.isFeatured {
  background-color: #48aaff;
  color: white;
}

.pricingButton.isFeatured:hover,
.pricingButton.isFeatured:focus {
  background-color: #269aff;
  color: white;
}

@media (min-width: 900px) {
  .pricingPlan {
    border-bottom: none;
    border-right: 1px solid #e1f1ff;
    padding: 25px 50px;
  }
  .pricingPlan:last-child {
    border-right: none;
  }
}
