/* cuerpo */
body {
  background-color: #051923;
  font-family: "Nunito", sans-serif;
}

.navbar.scrolled {
  background: #00a6fb;
  transition: background 500ms;
}

/* ids */
#mainNavBar {
  font-size: 1.5rem;
  font-weight: 100;
  padding: 0 16px;
}

#mainNavBar .navbar-brand {
  color: #ffb703;
  font-weight: 500;
}

#mainNavBar .nav-link {
  color: white;
}

#mainNavBar .nav-link:hover {
  color: #ffb703;
}




